.ResetPassword__account-pages {
    font-family: "Public Sans", sans-serif !important;
    background-color: var(--bs-body-bg);
}

.ResetPassword__title {
    font-size: calc(1.25625rem + 0.075vw);
    font-weight: 600;
}

.ResetPassword__card {
    border: none !important;
    background-color: var(--bs-card-bg) !important;
}

.ResetPassword__form-control {
    border-color: #e6ebf5 !important;
    background-color: rgba(230, 235, 245, 0.25) !important;
}

.ResetPassword__input-text {
    background-color: var(--bs-input-group-addon-bg) !important;
    padding: 5px 15px !important;
    color: var(--bs-text-muted) !important;
}

.ResetPassword__form:focus {
    color: var(--bs-body-color);
    background-color: var(--bs-input-bg);
    outline: 0;
    box-shadow: none !important;
}

.ResetPassword__form-control-lg {
    min-height: calc(1.5em + calc(1rem + 6px)) !important;
    padding: 0.5rem 1rem !important;
    font-size: 0.875rem !important;
    border-radius: 0.4rem !important;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    color: var(--bs-text-muted) !important;
    border-color: var(--bs-light) !important;
}

.ResetPassword__form-label {
    font-size: 0.9375rem;
    font-weight: 500;
    color: var(--bs-input-placeholder-color);
}

.mb-4 {
    margin-bottom: 1.5rem !important;
}

.ResetPassword__text-primary {
    font-weight: 500 !important;
    text-decoration: none;
}

.resetPass-text-color {
    font-weight: 400;
    color: var(--bs-body-color) !important;
    background-color: var(--bs-input-bg) !important;
    line-height: 2 !important;
}

.resetPass-text-color::placeholder {
    color: var(--bs-body-color) !important;
}

.resetPass-text-color:focus {
    box-shadow: none !important;
}

.resetPass__button {
    background-color: var(--bs-sidebar-menu-item-active-color) !important;
    border-color: var(--bs-sidebar-menu-item-active-color) !important;
}

.resetPass__textSignIn {
    color: var(--bs-sidebar-menu-item-active-color) !important;
    text-decoration: none;
}
